.wrapsher-sidebar-header .sidebar-title a.header {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: inherit;
}

.wrapsher-sidebar-header {
    padding: 0.75rem 0.5rem;
    text-align: center;
}

.wrapsher-sidebar-header .sidebar-logo {
    display: block;
    width: 88px;
    margin: 0 auto 0.25rem;
}

.wrapsher-sidebar-header .sidebar-title {
    margin: 0.1rem 0;
    padding: 0;
    line-height: 1.1;
}

.wrapsher-sidebar-header .sidebar-subtitle {
    margin: 0.1rem 0 0;
    padding: 0;
    line-height: 1.1;
    font-size: 0.8rem;
}
